.order-tracking {
    position: relative;
    padding: 9px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start */
}

.tracking-stage {
    display: flex;
    align-items: center;
    margin: 15px 0;
    position: relative;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #7c97a7;
    border: 2px solid #924d4d;
    position: relative;
    z-index: 1;
    margin-right: 10px; /* Add space between circle and text */
}
.circle:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.circle.completed {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
}

.circle.in-progress {
    background-color: #FF9800;
    border: 2px solid #FF9800;
}

.circle.pending {
    background-color: #d8d8d8;
    border: 2px solid #d8d8d8;
}

.stage-name {
    font-size: 14px;
    color: #333;
}

.tracking-line {
    position: absolute;
    width: 2px;
    background-color: #7c97a7;
    top: 10px;
    bottom: 10px;
    left: 18px; /* Fine-tune the alignment with the center of the circles */
    z-index: 0;
}

.tracking-stage:first-child .tracking-line {
    top: 20px; /* Align with the first circle */
}

.tracking-stage:last-child .tracking-line {
    bottom: 20px; /* Align with the last circle */
}
